body {
    background-color: black;
}

body:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: block;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#main {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 48px;
}

#license {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 48px;
}

.license-text {
    font-size: 0.7em;
    margin: 0px;
    opacity: 0.5;
    font-weight: 400;
}

.license-text > a {
    font-weight: 600;
    color: white;
    text-decoration: none;
}

div, p, span {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-shadow: 1px 1px 15px #000;
	font-weight: 600;
}

.weather-description {
    font-size: 4em;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0px;
}

.weather-info {
    font-size: 1em;
    text-align: right;
    margin-top: 0px;
    margin-bottom: 0.75em;
    opacity: 0.8;
}

#search-form {
    float: right;
    opacity: 0.2;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;;
}

#search-form:hover {
    opacity:0.9;
}

#search-form:focus {
    opacity:0.9;
}

.clearboth {
    clear: both;
}

#search-button {
    border: none;
    background-color: #333;
    border-radius: 0.75em;
    color: white;
    font-family: FontAwesome, 'Raleway', sans-serif;
    font-size: 1em;
    padding: 0.3em 0.75em 0.3em 0.75em;
    cursor: pointer;
}

#search-input {
    border: none;
    background-color: #CCC;
    border-radius: 0.75em;
    color: black;
    font-family: 'Raleway', sans-serif;
    max-width: 20em;
    width: 20em;
    font-size: 1em;
    padding: 0.25em 0.75em 0.25em 0.75em;
}

#search-input:focus {
    outline-width: 0;
}