<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tonic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}?v=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/foggy.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <style type="text/css">
        #bg {
            background: url({{ photo['imageUrl'] }}) no-repeat center center fixed; 
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div id="bg"></div>
    <div id="main">
        <p class="weather-description">{{ weather['description'] }}</p>
        <p class="weather-info">temperature: {{ weather['temp'] }}&#8451;,  humidity: {{ weather['humidity'] }}%</p>
        <form id="search-form" action="https://www.google.co.kr/search?qscrl=1" method="get">
            <input id="search-input" type="text" name="q"/>
            <input id="search-button" type="submit" value="&#xf002;"/>
        </form>
        <div class="clearboth"></div>
    </div>
    <div id="license">
        <p class="license-text">Copyright <i class="fa fa-copyright"></i> by <a href="{{ photo['authorUrl'] }}">{{ photo['author'] }}</a>, <i class="fa fa-flickr"></i> Flickr<br />{{ photo['license']['name'] }}</i></p>
    </div>
</body>
</html>